<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
                        http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <!-- 自动扫描，base-package 属性指定了需要扫描的类包，类包及其递归子包中所有的类都会被处理-->
    <context:component-scan base-package="com.heitian.ssm">
        <!-- 排除一些包 -->
        <context:exclude-filter type="regex" expression="com.heitian.ssm.controller"/>
    </context:component-scan>


    <!-- 将springmvc的配置导入进来，更好分类管理spring的配置文件 -->
    <import resource="spring-mybatis.xml"/>
</beans>